<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewData["Title"] - WeTube</title>
	<environment>
		<link rel="stylesheet" href="~/css/main.css" />
		<link rel="stylesheet" href="~/css/fonts.css" />
		<link rel="stylesheet" href="~/css/@(ViewData["Page"]).css" />
	</environment>
</head>
<body>
@RenderBody()
</body>
</html>