#container {
	max-width: 95%;
}

.dropShadow {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 12px;
}

.message {
	font-family: rcLight;
	text-align: center;
	opacity: 0.9;
}

#video {
	width: 960px;
	height: 540px;
}

#noVideo {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#noVideo {
	font-family: rLight;
}

#content {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-top: 16px;
}

#search, #comments, #queue {
	padding: 16px;
}

#search {
	width: 60%;
	margin-right: 16px;
	display: flex;
	flex-direction: column;
}

#commentsQueue {
	width: 40%;
}

#queue {
	margin-top: 16px;
}

#comments {
	font-family: rLight;
}

#comments td {
	min-width: 16px;
	padding-bottom: 4px;
}

#commentsContainer {
	height: 220px;
}

#commentEntry, #videoSearch {
	background-color: rgba(200, 200, 200, 0.1);
	color: #eeeeee;
	border: 0;
}

#commentEntry {
	width: 100%;
	border: 0;
	padding: 6px;
	box-sizing: border-box;
	border-radius: 4px;
}

#comments .userTitle {
	font-family: rRegular;
}

#videoSearch {
	padding: 8px;
	width: 60%;
	align-self: center;
	border-radius: 6px;
}

#searchResults {
	margin-top: 16px;
}

.searchResult {
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 16px;
}

.searchInfo {
	height: 100%;
	flex-grow: 5;
}

.searchResult .searchThumbnail {
	position: absolute;
	max-height: 100px;
	opacity: 0.75;
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	z-index: -10;
	border-radius: 8px;
}

.searchResult h5 {
	font-family: rRegular;
	text-align: center;
	margin: 8px 0 0 0;
}

.searchResult p {
	font-family: rLight;
	margin: 0;
	padding: 8px 32px 8px 32px;
	font-size: 0.9em;
	opacity: 0.8;
}

.addQueueContainer {
	font-family: rcLight;
	cursor: pointer;
	opacity: 0.6;
	margin: 0 16px 0 32px;
	transition: opacity 0.15s ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.addQueueContainer img {
	height: 42px;
}

.addQueueContainer:hover {
	opacity: 1;
}